body{
	background: transparent;
}
.main{
	
	width: 1118px;
	height: 510px;
	margin-left: 81px;
	margin-top: 144px;
}
.main .left{
	float: left;
	width: 246px;
	height: 100%;
	opacity: 0.8;
	background: #000000;
	overflow: hidden;
}
@-webkit-keyframes gogogo {
    0%{
        -webkit-transform: translateX(0);   
    }
    30%{
        -webkit-transform: translateX(0);   
    }
    100%{
        -webkit-transform: translateX(-200px);
    }
}

.main .left marquee{
	width: 1000px;
	height: 23px;
	line-height: 23px;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 0.85px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.main .left marquee.cur{
	background: #AD8017;
	-webkit-animation:gogogo 7s infinite linear;
}
.main .left marquee.on{
	background: #AD8017;
}
.main .box{
	float: right;
	width: 872px;
	display: none;
	background-color: #FFECD5;
}
.main .box.cur{
	display: block;
}
.main .box .imgtemp{
	width: 510px;
	height: 510px;
	float: left;
	position: relative;
}
.main .box img{
	width: 458px;
	height: 458px;
	margin: 0 auto;
	display: table-cell;
	position:flex;
	top: 50%;
	left: 50%;
	text-align: center;
	margin-top: 25px;
}
.main .box .bottom{
	float: right;
	background: #FFECD5;
	width: 336px;
	height: 416px;
	padding: 32px 25px 30px 0px;
	font-size: 18px;
	color: #323232;
	letter-spacing: 0.99px;
	line-height: 24px;	
}
.bottom h3{
	font-size: 36px;
	color: #AD8017;
	letter-spacing: 0.85px;
	line-height: 36px;	
	margin-bottom: 6px;
	font-weight: normal;
}
.bottom h5{
	font-size: 18px;
	
	margin-bottom: 18px;
	font-weight: normal;
}
.bottom .content1{
	margin-bottom: 6px;
}
.bottom .content1,.bottom .content2{
	font-size: 18px;
	color: #AD8017;
	letter-spacing: 0.85px;
	line-height: 36px;
}
.main .box .bottom .content3{
	font-size: 18px;
	color: #323232;
	letter-spacing: 0.99px;
	line-height: 24px;
	overflow: hidden;
	/*text-indent: 0em;*/
}
#content-1{
	margin-top: 22px;
}
/* flexslider */
.flexslider{padding-top:0;position:relative;width:510px;height:510px;overflow:hidden;zoom:1;}
.flex-viewport{max-height:510px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.flexslider .slides{zoom:1;}
/*.flex-direction-nav a{width:60px;height:90px;line-height:99em;overflow:hidden;margin:-60px 0 0;display:block;background:url(../images/ad_ctr.png) no-repeat;position:absolute;top:50%;z-index:10;cursor:pointer;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .3s ease;}*/
/*.flex-direction-nav .flex-next{background-position:0 -90px;right:0;}
.flex-direction-nav .flex-prev{left:0;}*/
/*.flexslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;filter:alpha(opacity=50);}*/
.flex-control-nav{width:0;position:absolute;bottom:10px;text-align:center;display: none;}
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{background:url(../images/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:0 0;}
