body{
	background: transparent;
	/*background: url(../images/backgroundimg.png) no-repeat center top;*/
}
.main{
	position: relative;
}
.bot_main{
	width: 1280px;
	height: 166px;
	margin-top: 488px;
	background:rgba(001, 001, 001,0.76)
}
.bot_main .bgbox{
	float: left;
	width: 176px;
	height: 166px;
	margin-left: 32px;
}
.bot_main .bgbox.cur{
	background: rgba(01,01,01,1);
}
.bgbox div{
	margin-left: 58px;
	margin-top: 40px;
}
.bgbox.cur div{
	margin-left: 48px;
	margin-top: 20px;
	
}
.bgbox div span{
	display: inline-block;
	margin-left: 6px;
	width: 54px;
	height: 54px;
	background: url("../images/index/1.png") center center no-repeat;
}
.bgbox.img1 div span{
	background: url("../images/index/2.png") center center no-repeat;
}
.bgbox.img2 div span{
	background: url("../images/index/3.png") center center no-repeat;
}
.bgbox.img3 div span{
	background: url("../images/index/4.png") center center no-repeat;
}
.bgbox.img4 div span{
	background: url("../images/index/5.png") center center no-repeat;
}
.bgbox.img5 div span{
	background: url("../images/index/6.png") center center no-repeat;
}
.bgbox.cur div span{
	margin-left: -6px;
	width: 90px;
	height: 90px;
	background: url("../images/index/1-1.png") center center no-repeat;	
	background-size: cover;
}
.bgbox.img1.cur div span{
	background: url("../images/index/2-1.png") center center no-repeat;
	background-size: cover;
}
.bgbox.img2.cur div span{
	background: url("../images/index/3-1.png") center center no-repeat;
	background-size: cover;
}
.bgbox.img3.cur div span{
	background: url("../images/index/4-1.png") center center no-repeat;
	background-size: cover;
}
.bgbox.img4.cur div span{
	background: url("../images/index/5-1.png") center center no-repeat;
	background-size: cover;
}
.bgbox.img5.cur div span{
	background: url("../images/index/6-1.png") center center no-repeat;
	background-size: cover;
}
.bgbox div p{
	width: 176px;
	margin-left: -48px;
	text-align: center;
	font-size: 16px;
	color: #888888;
	letter-spacing: 0.88px;
}
.bgbox.cur div p{
	font-size: 18px;
	color: #ffffff;
}

.top_main{
	width: 1280px;	
}
.top_main ul{
	width: 176px;
	margin-left: 32px;
	float: left;
	position: absolute;
	bottom: 166px;
	display: none;
}
.top_main ul.cur{
	display: block;
}
.top_main ul li{
	width: 176px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	opacity: 0.76;
	background: #010101;
	border-bottom: 1px dotted #A77500;
}
.top_main ul li:last-child{
	border: 0 none;
}
.top_main ul li a{
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	width: 100%;
	height: 100%;	
	letter-spacing: 0.77px;
	overflow: hidden;
}
.top_main ul li a:hover{
	opacity: 0.7;
	background: #A77500;
}
.top_main ul li a:focus{
	opacity: 0.71;
	background: #A77500;
}

#category-menu-2 {
	position: absolute;
	left: 208px;
}

#category-menu-3 {
	position: absolute;
	left: 416px;
}

#category-menu-4 {
	position: absolute;
	left: 624px;
}

#category-menu-5 {
	position: absolute;
	left: 832px;
}

#category-menu-6 {
	position: absolute;
	left: 1040px;
}
