body{
	color: #ffffff;	
	background: transparent;
	height: 1200px;
}
.main{
	width: 900px;
	height: 500px;
	position: fixed;
	left: 190px;
	top: 110px;
	opacity: 0.8;
	background: #000000;
	border-radius: 10px;	
}
.weather{
	padding-top: 10px;
	height: 58px;
	text-align: right;
	padding-right: 50px;
	position: relative;
}
.weather img{
	float: right;
	width: 46px;
	height: 46px;
	margin-top: 8px;
}
.weather span{
	float: right;
	display: inline-block;
	font-size: 20px;
	height: 58px;
	line-height: 58px;
	margin-bottom: 10px;
	margin-left: 10px;	
}
.temp{
	height: 360px;
	width: 100%;
}
.temp .left{
	float: left;
	width: 230px;
	height: 100%;
	text-align: center;
	margin-left: 40px;
}
.temp .left img{
	width: 162px;
	height: 105px;
	margin-bottom: 50px;
	margin-top: 10px;
}
.temp .left .time{
	
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 1.98px;
	margin-top: 50px;
	margin-bottom: 10px;
}
.temp .left .data{	
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0.77px;
}
.temp .right{
	float: right;
	width: 467px;
	height: 100%;
	margin-top: -10px;
	margin-left: 40px;
	margin-right: 40px;
}
.temp .right h3{	
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.1px;
	font-weight: normal;
	margin-bottom: 10px;
	display: inline-block;
}
.temp .right #gust_name{
	font-family: "宋体","times new roman";
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.1px;
	font-weight: normal;
	margin-bottom: 10px;
	display: inline-block;
}
.temp .right .content{
	opacity: 0.7;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0.88px;
	line-height: 20px;
}
.temp .right .content .boss{
	text-align: right;
	opacity: 0.7;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.1px;
	margin-right: 110px;
}
.btn{
	height: 68px;
	width: 100%;
	margin-left: 35px;
}
.main a{
	display: inline-block;
	width: 128px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: transparent;
	border-radius: 4px;
	color: #ffffff;
	border: 1px solid #AD8017;
	
}
/*.main a:hover{
	background: #AD8017;
	outline: none;
}*/
.main a:focus{
	background: #AD8017;
	outline: none;
}

.main .en{
	border: 1px solid peru;
	margin-right: 36px;
}
.sign{
	width: 240px;
	height: 120px;
	position: fixed;
	top: 455px;
	left: 740px;
}
#tishi{
	width: 300px;
	height: 38px;
	line-height: 38px;
	font-size: 15px;
	background: #000000;
	margin-top: 650px;
	margin-left: 530px;
	text-align: center;
	border-radius: 10px;	
	opacity: 0.8;
	vertical-align: middle;
	position: relative;
}
#tishi img{
	width: 34px;
	height: 34px;
}
#tishi span{
	display: inline-block;
	position: relative;
	top: -10px;
}
