<div class="content_wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<aside>
					<header><i class="fa fa-fw fa-file"></i>文章管理
						<!--<div id="app">{{ message }}</div>-->
					</header>
					<section>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<div class="btn-group" style="margin-bottom:20px;">
										<!--<button class="btn btn-default J_ajax_content_modal" data-href="facility_search.html"><i class="fa fa-filter"></i>查询</button>
										
										<a href="#article_add.html" class="btn btn-default"><i class="fa fa-file-o"></i>添加文章</a>-->
									</div>
									<div class="table-responsive">
										<table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
											<thead>
												<tr style="text-align: center;">
													<th style="text-align: center;" width="80">ID</th>
													<th style="text-align: center;" width="140">操作</th>
													<th style="text-align: center;">标题</th>
													<th style="text-align: center;">分类</th>
													<th style="text-align: center;">更新时间</th>
												</tr>
											</thead>
											<tbody id="list">

											</tbody>
										</table>
									</div>
									<nav>
										<ul class="pagination">

										</ul>
									</nav>
								</div>
							</div>
						</div>
					</section>
				</aside>
			</div>
		</div>
	</div>

</div>

<script src="../public/js/public.js?ver=1"></script>
<script src="../public/js/define.js"></script>

<script type="text/javascript">
	$(function() {
		"use strict"
		var type = $_GET["type"];
		var cateid = $_GET["cateid"];		
		//初始化页码，默认显示第1页;
		var pageNum = 0;
		var totalurl = "";

		//获取文章列表，默认取前GET_LIST_COUNT条数据;
		if(cateid != null && type !=null)	getList(0, GET_LIST_COUNT,cateid,type);
		else if(cateid != null)	getList(0, GET_LIST_COUNT,cateid,null);
		else if(type != null)	getList(0, GET_LIST_COUNT,null,type);
		else getList(0, GET_LIST_COUNT,null,null);
		//获取文章总数；
		
		if(cateid != null && type !=null) totalurl = "../server/article.php?port=getlistcount&cate_id="+cateid+"&type="+type;
		else if(cateid != null)	 totalurl = "../server/article.php?port=getlistcount&cate_id="+cateid;
		else if(type != null)  totalurl = "../server/article.php?port=getlistcount&type="+type;
		else totalurl = "../server/article.php?port=getlistcount";

		totalurl = totalurl + '&lang=' +  LANG;
		$.ajax({
			url: totalurl,
			type: "post",
			dataType : "json",
			jsonp: "callback",
			success: function(json){
				if(json.ret == 1){
					
					//计算总页数
					var str = "";
					var total_items = json.data.totalnums;
					var total_page = total_items % GET_LIST_COUNT == 0 ? total_items / GET_LIST_COUNT : Math.ceil(total_items / GET_LIST_COUNT);
					//分页的html代码
					str += '<li class="disabled "><a id="total_page" href="#">共' + total_items + '条</a></li>';
					str += '<li class="disabled" id="prevbtn"><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>';
					//判断总页数是否大于1页
					if(total_page > 1) {
						var j = 0;
						for(var i = 0; i < total_page; i++) {
							j = i + 1;
							str += '<li pagenum="' + i + '" id="page' + j + '" class="pagestyle" ><a   href="javascript:void(0);">' + j + '</a></li>';
						}
					} else {
						str += '<li pagenum="0" id="page1" class="pagestyle" ><a   href="javascript:void(0);">1</a></li>';
					}
					str += '<li id="nextbtn"><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>';
					//将分页代码写入指定的分页区域
					$(".pagination").html(str);
					//指定第一页为激活状态
					$("#page1").addClass("active");
					//点击页码事件
					$(".pagestyle").click(function() {
						//获取页码数值，默认第一页为0，以此类推
						var pageNum = $(this).attr("pagenum");
						//判断(页码如果不是第一页,也不是最后一页时，启用上一页按钮)
						if(pageNum > 0 && pageNum != (total_page - 1)) {
							$($(this).siblings()).removeClass("disabled");
							//判断(页码是最后一页时，禁用下一页按钮)	
						} else if(pageNum == (total_page - 1)) {
							$(this).nextAll().addClass("disabled");
							$(this).prevAll().removeClass("disabled");
							//判断(页码是第一页时,禁用上一页按钮)
						} else {
							$(this).prevAll().addClass("disabled");
							$(this).nextAll().removeClass("disabled");
						}
		
						$(this).addClass("active"); //当前点击的元素
						$($(this).siblings()).removeClass("active") //除当前元素外的其他元素	
						//获取指定页码的记录，每页显示数量由GET_LIST_COUNT值指定（GET_LIST_COUNT，在定义define.js文件中修改）
						
						
						if(cateid != null && type !=null)	getList(pageNum, GET_LIST_COUNT,cateid,type);
						else if(cateid != null)	getList(pageNum, GET_LIST_COUNT,cateid,null);
						else if(type != null)	getList(pageNum, GET_LIST_COUNT,null,type);
						else getList(pageNum, GET_LIST_COUNT,null,null);
		
					});
		
					$("#prevbtn").on('click', function() {
						//激活下一页按钮
						$("#nextbtn").removeClass("disabled");
						var curpagenum = parseInt(parseInt($(".active").attr("pagenum")) + 1);
						var pageNum = parseInt(parseInt(curpagenum) - 1);
						var fromId = parseInt(parseInt(pageNum) - 1);
						
						if(cateid != null && type !=null)	getList(fromId, GET_LIST_COUNT,cateid,type);
						else if(cateid != null)	getList(fromId, GET_LIST_COUNT,cateid,null);
						else if(type != null)	getList(fromId, GET_LIST_COUNT,null,type);
						else getList(fromId, GET_LIST_COUNT,null,null);
						$("#page" + pageNum).addClass("active");
						$($("#page" + pageNum).siblings()).removeClass("active");
						if(pageNum == 1) {
							$(this).addClass("disabled");
						}
					});
					
					$("#nextbtn").on('click', function() {
						//激活上一页按钮
						$("#prevbtn").removeClass("disabled");
						var curpagenum = parseInt(parseInt($(".active").attr("pagenum")) + 1);
						var pageNum = parseInt(parseInt(curpagenum) + 1);
						var fromId = parseInt(parseInt(pageNum) - 1);
						
						if(cateid != null && type !=null)	getList(fromId, GET_LIST_COUNT,cateid,type);
						else if(cateid != null)	getList(fromId, GET_LIST_COUNT,cateid,null);
						else if(type != null)	getList(fromId, GET_LIST_COUNT,null,type);
						else getList(fromId, GET_LIST_COUNT,null,null);
		
						$("#page" + pageNum).addClass("active");
						$($("#page" + pageNum).siblings()).removeClass("active");
						//禁用下一页按钮
						if(pageNum == total_page) {
							$(this).addClass("disabled");
						}
					});
				}
			}
		});
		
	});
			
			

	function getList(page,Lengths,cateid,type) {
		var url ='';
		if(cateid != null && type !=null) url ='../server/article.php?port=getlist&type='+type+'&cate_id='+cateid+'&from=' + page + '&nums=' + Lengths;
		else if(cateid != null) url ='../server/article.php?port=getlist&cate_id='+cateid+'&from=' + page + '&nums=' + Lengths;
		else if(type != null) url ='../server/article.php?port=getlist&type='+type+'&from=' + page + '&nums=' + Lengths;
		else url ='../server/article.php?port=getlist&from=' + page + '&nums=' + Lengths;
		
		if(LANG) url = url + '&lang=' +  LANG;
//		console.log(url);
		$.ajax({
			type: 'get',
			url: url,
			cache: false,
			dataType: 'json',
			success: function(json) {
				if(json.ret == 1) {
					var str = ""
					var food_item = [];
					var item = "";
					$("#list").html(); //初始化列表显示区
					for(var i = 0; i < json.data.length; i++) {
						str += '<tr>';
						str += '<td style="text-align: center;">' + json.data[i].id + '</td>';
						str += '<td style="text-align: center;">';
						str += '<a href="#article_fix.html?cate_id='+json.data[i].cate_id+'&page='+page+'&id=' + json.data[i].id + '&lang='+LANG+'" class="btn btn-primary btn-xs">编辑</a>';
						if(json.data[i].type != 1)
							str += '<button style="margin-left:10px" type="button" class="btn btn-warning btn-xs J_confirm_modal" data-tip="一定要删除？" data-target="../server/article.php?port=del&lang='+LANG+'&id=' + json.data[i].id + '">删除</button>';
						str += '</td>';
						str += '<td>' + json.data[i].title + '</td>';
						str += '<td>' + json.data[i].cate_id + '</td>';
						str += '<td>' + json.data[i].updatetime + '</td>';
						str += '</tr>';

					}

					$("#list").html(str);
				} else {
					console.log(json.msg);
				}

			}
		});

	};
</script>