<link rel="stylesheet" href="../public/js/vendor/kindeditor/themes/default/default.css">
<link rel="stylesheet" href="../public/js/vendor/summernote/summernote.css">
<link rel="stylesheet" href="../public/js/vendor/uploadify/mydemo/uploadify-demo.css">
<script src="../public/js/vendor/uploadify/jquery.uploadify.min.js"></script>
<script src="../public/js/vendor/summernote/summernote.js"></script>
<script src="../public/js/vendor/summernote/lang/summernote-zh-CN.js"></script>
<script src="../public/js/public.js"></script>
<script src="../public/js/define.js"></script>
<script src="../public/js/vendor/kindeditor/kindeditor-all-min.js"></script>
<div class="content_wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<aside>
					<header id="tips"><i class="fa fa-fw fa-file"></i>修改文章</header>
					<section>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<form id="article_fix" class="form-horizontal" role="form" method="post" action="" data-validate="validate2">
										<div class="form-group">
											<label class="col-sm-2 control-label">文章名称</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="文章名称" name="title">
											</div>
											<p class="col-sm-6 help-block">必填</p>
										</div>
										<hr/>
										<div class="form-group">
                                            <label class="col-sm-2 control-label">文章类型</label>
                                            <div class="col-sm-4">
                                                <select id="type" class="form-control" name="type">
                                                    <option value="0">请选择文章类型,必填</option>
                                                    <option value="1">单页内容(值为1)</option>
                                                    <option value="2">文章类型(值为2)</option>
                                                  
                                                 
                                                </select>
                                            </div>
                                            <p class="col-sm-6 help-block"></p>
                                        </div>
                                        <hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">文章分类</label>
											<div class="col-sm-4">
												<select id="cate_id" class="form-control" name="cate_id">
													<option value="0">请选择文章分类,必填</option>

												</select>
											</div>
											<p class="col-sm-6 help-block">必选</p>
										</div>
										<hr/>
										

										<div class="form-group">
                                            <label class="col-sm-2 control-label">主图片</label>
                                            <div class="col-sm-1">
                                            	<input type="button" value="上传图片 " id="uploadimage" class="btn btn-primary"/>
                                            </div>
                                            <div class="col-sm-6">
                                            	
                                                <input  type="text" class="form-control" placeholder="PNG图片" name="pic">
                                                 <p class="col-sm-6 help-block">必填</p>
                                            </div>
                                            <div class="col-sm-2">
                                            	   <img width="200" height="200" src="" id="preview"/>
                                            </div>
                                           
                                        </div>
                                        <hr/> 
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">图片1</label>
                                            <div class="col-sm-1">
                                            	<input type="button" value="上传图片 " id="uploadimage1" class="btn btn-primary"/>
                                            </div>
                                            <div class="col-sm-6">
                                            	
                                                <input  type="text" class="form-control" placeholder="PNG图片" name="pic1">
                                                 <p class="col-sm-6 help-block">可选</p>
                                            </div>
                                            <div class="col-sm-2">
                                            	   <img width="200" height="200" src="" id="preview1"/>
                                            </div>
                                           
                                        </div>
                                        <hr/> 
                                          <div class="form-group">
                                            <label class="col-sm-2 control-label">图片2</label>
                                            <div class="col-sm-1">
                                            	<input type="button" value="上传图片 " id="uploadimage2" class="btn btn-primary"/>
                                            </div>
                                            <div class="col-sm-6">
                                            	
                                                <input  type="text" class="form-control" placeholder="PNG图片" name="pic2">
                                                 <p class="col-sm-6 help-block">可选</p>
                                            </div>
                                            <div class="col-sm-2">
                                            	   <img width="200" height="200" src="" id="preview2"/>
                                            </div>
                                           
                                        </div>
                                        <hr/> 
                                         <!--<div class="form-group">
                                            <label class="col-sm-2 control-label">图片3</label>
                                            <div class="col-sm-1">
                                            	<input type="button" value="上传图片 " id="uploadimage3" class="btn btn-primary"/>
                                            </div>
                                            <div class="col-sm-6">
                                            	
                                                <input  type="text" class="form-control" placeholder="PNG图片" name="pic3">
                                                 <p class="col-sm-6 help-block">可选</p>
                                            </div>
                                            <div class="col-sm-2">
                                            	   <img width="200" height="150" src="" id="preview3"/>
                                            </div>
                                           
                                        </div>
                                        <hr/> 
                                          <div class="form-group">
                                            <label class="col-sm-2 control-label">图片4</label>
                                            <div class="col-sm-1">
                                            	<input type="button" value="上传图片 " id="uploadimage4" class="btn btn-primary"/>
                                            </div>
                                            <div class="col-sm-6">
                                            	
                                                <input  type="text" class="form-control" placeholder="PNG图片" name="pic4">
                                                 <p class="col-sm-6 help-block">可选</p>
                                            </div>
                                            <div class="col-sm-2">
                                            	   <img width="200" height="150" src="" id="preview4"/>
                                            </div>
                                           
                                        </div>
                                        <hr/> -->
										
										<div class="form-group">
											<label class="col-sm-2 control-label">简介</label>
											<div class="col-sm-10">
												 <textarea class="form-control" id="summernote" name="content"></textarea>
												<!--<textarea class="form-control" name="content"></textarea>-->
											</div>
										</div>
										<hr/>
										<div class="form-group">
											<div class=" col-sm-12">
												<button type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</section>
				</aside>
			</div>
		</div>
	</div>

</div>

<script>

	


	function callback1(returnData, $from) {
		console.log($from);
	}

	function validate2($from) {
		var title = $from.find('input[name="title"]');
		if($.trim(title.val()) == '') {
			return '文章标题不能为空';
		}
		 var type = $from.find('select[name="type"]');
        if (type.val() == 0) {
            return '请选择类型';
        }
        var cate_id = $from.find('select[name="cate_id"]');
		if(cate_id.val() == 0) {
		return '请选择分类';
		}      

		return true;
	}

	
	$(function() {
		"use strict"
		
		
		// 获取修改的id
		var fixID = $_GET["id"];
		var cate_id= $_GET["cate_id"];
		var page = $_GET["page"];
		if(fixID != null || fixID === 0) {
		var action_url = "../server/article.php?port=fix&cate_id=" + cate_id + "&page=" + page + "&id=" + fixID + "&lang=" +LANG;
		$("#article_fix").attr("action", action_url);
		$("#tips").append(fixID);
		$(".alert b").append("图片服务器URL：["+IMGURL +"]调用到内容区时请注意加上！");

		//调用详情接口;
		getArticleInfo(fixID);
						   	
	
		}
	
	
		/**
	 * 获取文章分类的列表;
	 */	
	 $("#type").change(function(){
   	 $(this).css("background-color","#FFFFCC");
   	 var typeId = $(this).val();
   	 getColumnList(typeId);

   	 });
	
		//get方式请求接口返回的数据
		function getColumnList(columnType,cateName) {
			$.ajax({
				type: 'get',
				url: '../server/column.php?port=getlist&lang=' + LANG,
				cache: false,
				dataType: 'json',
				async:false, 
				success: function(json) {
	
					if(json.ret == 1) {
						$("select[name=cate_id]").html("");
						var str=""
						var mid = 0;
//						一级分类
						for(var i = 0; i < json.data.length; i++) {	
							if(json.data[i].pid == mid ) {
								str += '<optgroup style="color:#000;" value="'+ json.data[i].id + '"  label="' + json.data[i].cate_name + '"> </optgroup> ';
//								二级分类 
									for(var j = 0; j < json.data.length; j++) {
										if(json.data[j].pid == json.data[i].id && json.data[j].cate_type == columnType) {
												str += '<option style="color:#00f;text-indent: 2em;" value="' + json.data[j].id + '"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>' + json.data[j].cate_name + '</option>';
	//										三级分类
											for(var k = 0; k < json.data.length; k++) {									
												if(json.data[k].pid == json.data[j].id && json.data[k].cate_type == columnType) {
													str += '<option style="color:#f00;" value="'+ json.data[k].id + ']"><span>&nbsp;&nbsp;&nbsp;<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>' + json.data[k].cate_name + '</option>';
												}
											}
										}		
									}
							}
						}
						
						$("select[name=cate_id]").append(str);
						$("select[name=cate_id]").val(cateName);

					}else{
						console.log(json.msg);
					}
					
				}
			});
		}

		
		
		/**
		 * 根据ID号获取栏目详情：
		 */
		function getArticleInfo(ID) {
			$.ajax({
				type: 'get',
				url: '../server/article.php?port=getinfo&id=' + ID + '&lang=' + LANG,
				cache: false,
				dataType: 'json',
				async:false, 
				success: function(json) {
	
					if(json.ret == 1) {						
						$("input[name=title").val(json.data.title);										
						$("select[name=type]").val(json.data.type);	
						$("input[name=pic").val(json.data.pic);
						$("input[name=pic1").val(json.data.pic1);
						$("input[name=pic2").val(json.data.pic2);
//						$("input[name=pic3").val(json.data.pic3);
//						$("input[name=pic4").val(json.data.pic4);
	 					$("#preview").attr('src',IMGURL+json.data.pic); 
	 					$("#preview1").attr('src',IMGURL+json.data.pic1); 
	 					$("#preview2").attr('src',IMGURL+json.data.pic2); 
//	 					$("#preview3").attr('src',IMGURL+json.data.pic3); 
//	 					$("#preview4").attr('src',IMGURL+json.data.pic4); 
						$('#summernote').summernote('code', json.data.content);	
						getColumnList(json.data.type,json.data.cate_id);
					} else {
						console.log(json.msg);
					}

				}
			});
		}
	
		
		
		
			
	});

	 $('#summernote').summernote({
        lang: 'zh-CN',
        height: 300,
        callbacks: {
            onInit: function () {
            },
            onFocus: function () {
            },
            onBlur: function () {
                var $this = $(this);
//              console.log($this);
            }
        }
    });
    
   KindEditor($("#uploadimage")[0]).click(function () {
            var dialog = KindEditor.dialog({
                width: 300,
                title: '上传图片',
                body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
                closeBtn: {
                    name: '关闭',
                    click: function (e) {
                        dialog.remove();
                    }
                },
                noBtn: {
                    name: '取消',
                    click: function (e) {
                        dialog.remove();
                    }
                }
            });
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#uploadButton')[0],
                fieldName: 'imgFile',
                url: '../server/upload.php',
                afterUpload: function (data) {
                    var data = arguments[0];  //获取json数据
                    if (data.error == 0) {
                       $("#preview").attr("src",IMGURL+data.url);
                       $("#preview").css("background-color","#5E5955");
                       $("input[name=pic]").val(data.url);
                    }
                    dialog.remove();
                }
            });
            uploadbutton.fileBox.change(function (e) {
            uploadbutton.submit();
            });
        });
        
        
        KindEditor($("#uploadimage1")[0]).click(function () {
            var dialog = KindEditor.dialog({
                width: 300,
                title: '上传图片',
                body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
                closeBtn: {
                    name: '关闭',
                    click: function (e) {
                        dialog.remove();
                    }
                },
                noBtn: {
                    name: '取消',
                    click: function (e) {
                        dialog.remove();
                    }
                }
            });
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#uploadButton')[0],
                fieldName: 'imgFile',
                url: '../server/upload.php',
                afterUpload: function (data) {
                    var data = arguments[0];  //获取json数据
                    if (data.error == 0) {
                       $("#preview1").attr("src",IMGURL+data.url);
                       $("#preview1").css("background-color","#5E5955");
                       $("input[name=pic1]").val(data.url);
                    }
                    dialog.remove();
                }
            });
            uploadbutton.fileBox.change(function (e) {
            uploadbutton.submit();
            });
        });
           KindEditor($("#uploadimage2")[0]).click(function () {
            var dialog = KindEditor.dialog({
                width: 300,
                title: '上传图片',
                body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
                closeBtn: {
                    name: '关闭',
                    click: function (e) {
                        dialog.remove();
                    }
                },
                noBtn: {
                    name: '取消',
                    click: function (e) {
                        dialog.remove();
                    }
                }
            });
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#uploadButton')[0],
                fieldName: 'imgFile',
                url: '../server/upload.php',
                afterUpload: function (data) {
                    var data = arguments[0];  //获取json数据
                    if (data.error == 0) {
                       $("#preview2").attr("src",IMGURL+data.url);
                       $("#preview2").css("background-color","#5E5955");
                       $("input[name=pic2]").val(data.url);
                    }
                    dialog.remove();
                }
            });
            uploadbutton.fileBox.change(function (e) {
            uploadbutton.submit();
            });
        });
        
/*           KindEditor($("#uploadimage3")[0]).click(function () {
            var dialog = KindEditor.dialog({
                width: 300,
                title: '上传图片',
                body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
                closeBtn: {
                    name: '关闭',
                    click: function (e) {
                        dialog.remove();
                    }
                },
                noBtn: {
                    name: '取消',
                    click: function (e) {
                        dialog.remove();
                    }
                }
            });
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#uploadButton')[0],
                fieldName: 'imgFile',
                url: '../server/upload.php',
                afterUpload: function (data) {
                    var data = arguments[0];  //获取json数据
                    if (data.error == 0) {
                       $("#preview3").attr("src",IMGURL+data.url);
                       $("#preview3").css("background-color","#5E5955");
                       $("input[name=pic3]").val(data.url);
                    }
                    dialog.remove();
                }
            });
            uploadbutton.fileBox.change(function (e) {
            uploadbutton.submit();
            });
        });
        
           KindEditor($("#uploadimage4")[0]).click(function () {
            var dialog = KindEditor.dialog({
                width: 300,
                title: '上传图片',
                body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
                closeBtn: {
                    name: '关闭',
                    click: function (e) {
                        dialog.remove();
                    }
                },
                noBtn: {
                    name: '取消',
                    click: function (e) {
                        dialog.remove();
                    }
                }
            });
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#uploadButton')[0],
                fieldName: 'imgFile',
                url: '../server/upload.php',
                afterUpload: function (data) {
                    var data = arguments[0];  //获取json数据
                    if (data.error == 0) {
                       $("#preview4").attr("src",IMGURL+data.url);
                       $("#preview4").css("background-color","#5E5955");
                       $("input[name=pic4]").val(data.url);
                    }
                    dialog.remove();
                }
            });
            uploadbutton.fileBox.change(function (e) {
            uploadbutton.submit();
            });
        });*/
 
</script>

