<link rel="stylesheet" href="../public/js/vendor/kindeditor/themes/default/default.css">
	<script src="../public/js/vendor/kindeditor/kindeditor-all-min.js"></script>
<div id="jsondata" class="col-sm-12">
</div>

<div class="content_wrapper">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<aside>
					<header class="title_bar"><i class="fa fa-fw fa-file"></i>树形视图</header>
					<section>
						<div class="container-fluid">

							<div class="row">

								<div class="col-sm-12">
									<form method="get" action="">
										<div class="table-responsive">
											<table class="table table-hover J_tree_table" cellspacing="0" width="100%" id="tree_table1">
												<thead>
													<tr>
														<th width="40"></th>
														<th>[顺序] 菜单中文名称</th>
														<th>栏目类型</th>
														<th>id</th>
														<th>link</th>
														<th>启用</th>
														<th>操作</th>
													</tr>
												</thead>

											</table>
										</div>
										<div class="lineW" style="margin-bottom:8px;">
											<button type="button" class="btn btn-xs J_tree_table_all_open" data-target="#tree_table1"><i class="fa fa-caret-down"></i>全部展开</button>
											<button type="button" class="btn btn-xs J_tree_table_all_close" data-target="#tree_table1"><i class="fa fa-caret-up"></i>全部收起</button>
										</div>
										<hr/>
										<div class="form-group">
											<!-- <button type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button> -->
											<button name="check" data="" type="button" class="btn btn-primary ">检测异常菜单</button>
											<button name="checknot" data="" type="button" class="btn btn-primary">取消检测异常</button>
										</div>
										<div class="form-group">
											异常菜单，是指删除掉了父级栏目后，子栏目需要重新设置父级栏目才能显示。异常菜单会列出所有子菜单。编辑详情中会有该菜单是正常的还是异常的提示。
										</div>
									</form>
								</div>
							</div>
						</div>
					</section>
				</aside>
			</div>
		</div>
	</div>

</div>

<script src="../public/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../public/js/define.js" type="text/javascript" charset="utf-8"></script>
<script>//上传单个文件-弹出层

$(function() {



	var apiurl = '../server/column.php?port=getlist&lang=' + LANG;

	getColumsList(apiurl);

	
	
	
	$("button[name=check]").click(function() {
		sessionStorage.setItem('isCheck', "99");
		checkURL();
	});
	$("button[name=checknot]").click(function() {
		sessionStorage.removeItem('isCheck');
		checkURL();
	});

		KindEditor($("button[name=upload]")).click(function() {
		var dialog = KindEditor.dialog({
			width: 300,
			title: '上传图片',
			body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
			closeBtn: {
				name: '关闭',
				click: function(e) {
					dialog.remove();
				}
			},
			noBtn: {
				name: '取消',
				click: function(e) {
					dialog.remove();
				}
			}
		});
		var uploadbutton = KindEditor.uploadbutton({
			button: KindEditor('#uploadButton')[0],
			fieldName: 'imgFile',
			url: '../server/upload.php',
			afterUpload: function(data) {
				var data = arguments[0]; //获取json数据
				//					console.log(data);

				if(data.error == 0) {
					$("input[name=company_logo]").val(SiteDmain + data.url);

				}
				dialog.remove();
			}
		});
		uploadbutton.fileBox.change(function(e) {
			uploadbutton.submit();
		});
	});

	
	//get方式请求接口返回的数据

	function getColumsList(URL) {
		$.ajax({
			type: 'GET',
			url: URL,
			cache: false,
			dataType: 'json',
			
			success: function(json) {

				if(json.ret == 1) {

					var str = "";
					var mid = "0";

					var json_arr = json.data;

					setToken(sign, "category", json_arr);

					for(var i = 0; i < json.data.length; i++) {

						if(json.data[i].pid == mid) {

							str += '<tbody>';
							str += '<tr>';
							str += '<td><span class="J_pull_btn pull_down"></span></td>';
							str += '<td><input type="text" value="' + json.data[i].cate_order + '"/>' + json.data[i].cate_name + '<img src="'+IMGURL+json.data[i].cate_ico+'" name="cateimg"  style="width: 30px;height: 30px;border: 0;margin-left: 10px;"/></td>';
	                        str +=			'<td>'+json.data[i].cate_type+'</td>';
							str += '<td>' + json.data[i].id + '</td>';
							str += '<td>' + json.data[i].cate_link + '</td>';
							str += '<td><input type="checkbox" checked="checked"/></td>';
							str += '<td>';
							str += '<a  href="#column_add.html?pid=' + json.data[i].id + '&lang='+LANG+'" class="btn btn-primary btn-xs">添加</a>';
							str += '<a href="#column_fix.html?id=' + json.data[i].id + '&lang='+LANG+'" class="btn btn-primary btn-xs">编辑</a>';
							if(json.data[i].cate_status == (-1)){
														str += '<button type="button" class="btn btn-primary btn-xs J_confirm_modal" data-tip="确定要启用吗？" data-target="../server/column.php?port=enable&lang='+LANG+'&id=' + json.data[i].id + '">启用</button>';
													}else{
														str += '<button type="button" class="btn btn-warning btn-xs J_confirm_modal" data-tip="一定要禁用吗？" data-target="../server/column.php?port=disable&lang='+LANG+'&id=' + json.data[i].id + '">禁用</button>';
													}
							str += '</td>';
							str += '</tr>';

							for(var j = 0; j < json.data.length; j++) {

								if(json.data[j].pid == json.data[i].id) {

									str += '<tr>';
									str += '<td></td>';
									str += '<td><span class="end"></span><input type="text" value="' + json.data[j].cate_order + '"/>' + json.data[j].cate_name + ' </td>';
									str +=			'<td>'+json.data[j].cate_type+'</td>';
									str += '<td>' + json.data[j].id + '</td>';
									str += '<td>' + json.data[j].cate_link + '</td>';
									str += '<td><input type="checkbox" checked="checked" /></td>';
									str += '<td>';
									str += '<a  href="#column_add.html?pid=' + json.data[j].id + '&lang='+LANG+'" class="btn btn-primary btn-xs">添加</a>';
									str += '<a href="#column_fix.html?id=' + json.data[j].id + '&lang='+LANG+'" class="btn btn-primary btn-xs">编辑</a>';
									if(json.data[j].cate_status == (-1)){
										str += '<button type="button" class="btn btn-primary btn-xs J_confirm_modal" data-tip="确定要启用吗？" data-target="../server/column.php?port=enable&lang='+LANG+'&id=' + json.data[j].id + '">启用</button>';
									}else{
										str += '<button type="button" class="btn btn-warning btn-xs J_confirm_modal" data-tip="一定要禁用吗？" data-target="../server/column.php?port=disable&lang='+LANG+'&id=' + json.data[j].id + '">禁用</button>';
									}
									str += '</td>';
									str += '</tr>';

									for(var k = 0; k < json.data.length; k++) {

										if(json.data[k].pid == json.data[j].id) {

											str += '<tr>';
											str += '<td></td>';
											str += '<td><span class="space"></span><span class="end"></span><input type="text" value="' + json.data[k].cate_order + '"/>' + json.data[k].cate_name + '</td>';
											str +=			'<td>'+json.data[k].cate_type+'</td>';
											str += '<td>' + json.data[k].id + '</td>';
											str += '<td>' + json.data[k].cate_link + '</td>';
											str += '<td><input type="checkbox" checked="checked" /></td>';
											str += '<td>';
											str += '<a  href="#column_add.html?pid=' + json.data[k].id + '&lang='+LANG+'" class="btn btn-primary btn-xs">添加</a>';
											str += '<a  href="#column_fix.html?id=' + json.data[k].id + '&lang='+LANG+'" class="btn btn-primary btn-xs">编辑</a>';
											if(json.data[k].cate_status == (-1)){
														str += '<button type="button" class="btn btn-primary btn-xs J_confirm_modal" data-tip="确定要启用吗？" data-target="../server/column.php?port=enable&lang='+LANG+'&id=' + json.data[k].id + '">启用</button>';
													}else{
														str += '<button type="button" class="btn btn-warning btn-xs J_confirm_modal" data-tip="一定要禁用吗？" data-target="../server/column.php?port=disable&lang='+LANG+'&id=' + json.data[k].id + '">禁用</button>';
													}
											str += '</td>';
											str += '</tr>';

											for(var l = 0; l < json.data.length; l++) {

												if(json.data[l].pid == json.data[k].id) {

													str += '<tr>';
													str += '<td></td>';
													str += '<td><span class="space"></span><span class="space"></span><span class="end"></span><input type="text" value="' + json.data[l].cate_order + '"/>' + json.data[l].cate_name + '</td>';
													str +=			'<td>'+json.data[i].cate_type+'</td>';
													str += '<td>' + json.data[l].id + '</td>';
													str += '<td>' + json.data[l].cate_link + '</td>';
													str += '<td><input type="checkbox" checked="checked" /></td>';
													str += '<td>';
													str += '<a  href="#column_fix.html?id=' + json.data[l].id + '&lang='+LANG+'" class="btn btn-primary btn-xs">编辑</a>';
													if(json.data[l].cate_status == (-1)){
														str += '<button type="button" class="btn btn-primary btn-xs J_confirm_modal" data-tip="确定要启用吗？" data-target="../server/column.php?port=enable&lang='+LANG+'&id=' + json.data[l].id + '">启用</button>';
													}else{
														str += '<button type="button" class="btn btn-warning btn-xs J_confirm_modal" data-tip="一定要禁用吗？" data-target="../server/column.php?port=disable&lang='+LANG+'&id=' + json.data[l].id + '">禁用</button>';
													}
													str += '</td>';
													str += '</tr>';
												}
											}
										}
									}
								}
							}

							str += '</tbody>';
						}

						if(json.data[i].pid != mid && sessionStorage.getItem('isCheck') == "99") {
							str += '<tbody style="color:red;">';
							str += '<tr>';
							str += '<td><span class="J_pull_btn pull_down"></span></td>';
							str += '<td><input type="text" value="' + json.data[i].cate_order + '"/>' + json.data[i].cate_name + '<img src="" name="cateimg"  style="width: 30px;height: 30px;border: 0;margin-left: 10px;"/></td>';
							//	                        str +=			'<td>英文名菜单(预留)</td>';
							str += '<td>' + json.data[i].id + '</td>';
							str += '<td><input type="checkbox" checked="checked"/></td>';
							str += '<td>';
							str += '<button type="button" name="upload" class="btn btn-primary btn-xs">图标</button>';
							str += '<a href="#column_fix.html?id=' + json.data[i].id + '" class="btn btn-primary btn-xs">编辑</a>';
							if(json.data[i].cate_status == (-1)){
								str += '<button type="button" class="btn btn-primary btn-xs J_confirm_modal" data-tip="确定要启用吗？" data-target="../server/column.php?port=enable&lang='+LANG+'&id=' + json.data[i].id + '">启用</button>';
								}else{
									str += '<button type="button" class="btn btn-warning btn-xs J_confirm_modal" data-tip="一定要禁用吗？" data-target="../server/column.php?port=disable&lang='+LANG+'&id=' + json.data[i].id + '">禁用</button>';
								}
							str += '</td>';
							str += '</tr>';
							str += '</tbody>';
						}

					}

					$(".J_tree_table").append(str);

				} else {

					$(".title_bar").append('<span style="color:red;margin-left:10px">（' + json.message + '）</span>');
			
				}

			},
			error: function(status) {

				console.log(status);
			}
		});
	}

});


</script>