<link rel="stylesheet" href="../public/js/vendor/kindeditor/themes/default/default.css">
 <script src="../public/js/public.js"></script>
<script src="../public/js/define.js"></script>
<script src="../public/js/vendor/kindeditor/kindeditor-all-min.js"></script>
<div class="content_wrapper">

    <div class="container-fluid">
     
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header id="tips"><i class="fa fa-fw fa-file"></i>修改栏目</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form id="columnfix" class="form-horizontal" role="form" method="post" action="" data-validate="validate2">
                                    	 <div class="form-group">
                                            <label class="col-sm-2 control-label">栏目排序</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="栏目排序" name="cate_order" id="cate_order">
                                            </div>
                                            <p class="col-sm-6 help-block"></p>
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">栏目名称</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="栏目名称" name="cate_name" id="cate_name">
                                            </div>
                                            <p class="col-sm-6 help-block">必填</p>
                                        </div>
                                        <hr/>
                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">栏目类型</label>
                                            <div class="col-sm-4">
                                                <select id="cate_type" class="form-control" name="cate_type">
                                                    <option value="0">请选择栏目类型，必选</option>
                                                    <option value="1">单页内容</option>
                                                    <option value="2">文章类型</option>
                                                    <option value="3">音频类型</option>
                                                    <option value="4">视频类型</option>
                                                    <option value="5">直播类型</option>
                                                    <option value="6">图片类型</option>
                                                    <option value="7">产品类型</option>
                                                    <option value="8">服务类型</option>
                                                    <option value="9">其他类型</option>
                                                  
                                                 
                                                </select>
                                            </div>
                                            <p class="col-sm-6 help-block" >必填</p>
                                         
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">链接地址</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="栏目的链接地址" name="cate_link" id="cate_link">
                                            </div>
                                            <p class="col-sm-6 help-block"  id="param" style="color: #b1063a;"></p>
                                        </div>
                                        <hr/>
                                        
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">上级栏目</label>
                                            <div class="col-sm-4">
                                                <select id="pid" class="form-control" name="pid">
                                                    <option value="0">请选择,不选为主栏目</option>
                                                 
                                                </select>
                                            </div>
                                            <p id="slect_desc" class="col-sm-6 help-block">不选默认为主栏目</p>
                                           
                                        </div>
                                        <hr/>
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">栏目图片</label>
                                            <div class="col-sm-1">
                                            	<input type="button" value="上传文件 " id="upload_columnimg" class="btn btn-primary"/>
                                            </div>
                                            <div class="col-sm-6">
                                            	
                                                <input  type="text" class="form-control" placeholder="栏目图片名,推荐PNG或jpg图片" name="cate_pic">
                                                 <p class="col-sm-6 help-block">根据需求,在iptv系统中显示在主导航页面的图片,建议主栏目使用</p>
                                            </div>
                                            <div class="col-sm-2">
                                            	   <img width="200" height="150" src="" id="preview"/>
                                            </div>
                                           
                                        </div>
                                        <hr/>
                                        
                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">ICO图标</label>
                                            <div class="col-sm-1">
                                            	<input type="button" value="上传文件 " id="upload_columnico" class="btn btn-primary"/>
                                            </div>
                                            <div class="col-sm-6">
                                            	
                                                <input  type="text" class="form-control" placeholder="栏目前面的图标ICO图片,png或gif透明格式较好" name="cate_ico">
                                                 <p class="col-sm-6 help-block"></p>
                                            </div>
                                            <div class="col-sm-2">
                                            	   <img width="80" height="60" src="" id="preview_ico"/>
                                            </div>
                                           
                                        </div>
                                        <hr/>
                                     
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">简介</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <div class=" col-sm-12">
                                                <button type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>



<script>
    function validate1($from) {
        var pid = $from.find('select[name="pid"]');
        if (pid.val() == 0) {
            return '请选择分类';
        }

        return true;
    }
    function callback1(returnData, $from) {
        console.log($from);
    }
    function validate2($from) {
        var title = $from.find('input[name="cate_name"]');
        if ($.trim(title.val()) == '') {
            return '新闻标题不能为空';
        }

        return true;
    }

    $(function() {    	
		"use strict"
        // 获取修改的id
        
        
        var fixID = $_GET["id"];
        var action_url = "../server/column.php?port=fix&fixid="+fixID+"&lang=" +LANG;
        $("#columnfix").attr("action", action_url);
        $("#tips").append(fixID);
       

        /**
         * 根据ID号获取栏目详情：
         */
         function getColumnInfo(ID) {
            $.ajax({
                type: 'get',
                url: '../server/column.php?port=getinfo&id='+ID+'&lang=' + LANG,
                cache: false,
                dataType: 'json',
                success: function(json) {

                    if(json.ret == 1) {
					console.log(json.data);

                        $("input[name=cate_order").val(json.data.cate_order);
                        $("input[name=cate_name").val(json.data.cate_name); 
                        $("input[name=cate_link").val(json.data.cate_link);                                             
                        $("input[name=cate_pic").val(json.data.cate_pic);
                        $("input[name=cate_ico").val(json.data.cate_ico);
                        $("select[name=pid]").val(json.data.pid);
                       
                        $("select[name=cate_type]").val(json.data.cate_type);  
                        if( $("select[name=pid]").val() !=null &&  $("select[name=pid]").val()==="0") {
                            // $("select[name=pid]").attr("disabled",true);
                            $("#slect_desc").html("当前栏目为主栏目(link地址调用参数cateid="+json.data.pid+")");
                            $("#slect_desc").css("color","#0000ff");
                        }
                        if( $("select[name=pid]").val() == null && $("select[name=pid]").val()!=0){
                               $("#slect_desc").html("此栏目为异常栏目，请重新改变上级目录(link地址调用参数cateid="+json.data.pid+")");
                               $("#slect_desc").css("color","#ff0000");
                        }
                        
                        $("#preview").attr("src",IMGURL+json.data.cate_pic);
						$("#preview_ico").attr("src",IMGURL+json.data.cate_ico);					
						$("#param").html("?type="+json.data.cate_type+"&cateid="+fixID);
//						    if(!DEVMODE){
//						        	$('input[name="cate_link"]').attr("disabled");
//						        }

                                               
                    }else{
                        console.log(json.msg);
                    }
                    
                }
            });
        }

		/**
		 * 获取上级分类的列表;
		 */
        
		getColumnList();
		//get方式请求接口返回的数据
		function getColumnList() {
			$.ajax({
				type: 'get',
				url: '../server/column.php?port=getlist&lang=' + LANG,
				cache: false,
				dataType: 'json',
				success: function(json) {

					if(json.ret == 1) {
						var str=""
							for(var i=0;i<json.data.length;i++){
                                if(json.data[i].pid == 0) {
    								str +='<option style="color:#000;" value="'+json.data[i].id+'">'+json.data[i].cate_name+'</option>';	
    								for(var j=0;j<json.data.length;j++){
    									if(json.data[j].pid == json.data[i].id){
    										str +='<option value="'+json.data[j].id+'" >——'+json.data[j].cate_name+'</option>';	
                                            for(var k = 0; k < json.data.length; k++) {
                                        
                                                if(json.data[k].pid == json.data[j].id) {
                                                    str +='<option value="'+json.data[k].id+'" >————'+json.data[k].cate_name+'</option>'; 
                                                }
                                            }
    									}
    								}	
								}
							}
						
						$("select[name=pid]").append(str);
						
                         if(fixID != null || fixID ===0){
                            getColumnInfo(fixID);                            
                         }

					}else{
						console.log(json.msg);
					}
					
				}
			});
		}
		
/**
 * 当类型改变时触发修改说明；
 */
 $("#cate_type").change(function(){
   	 	$(this).css("background-color","#FFFFCC");
   	 	var typeid = $(this).val();
   	 	$("#param").html("?type="+typeid+"&cateid="+fixID);
   	 	alert("类型被改变，请修改link地址的参数type");
 });
		
		
	});
	
	   //上传单个文件-弹出层
    (function () {
        KindEditor($("#upload_columnimg")[0]).click(function () {
            var dialog = KindEditor.dialog({
                width: 300,
                title: '上传图片',
                body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
                closeBtn: {
                    name: '关闭',
                    click: function (e) {
                        dialog.remove();
                    }
                },
                noBtn: {
                    name: '取消',
                    click: function (e) {
                        dialog.remove();
                    }
                }
            });
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#uploadButton')[0],
                fieldName: 'imgFile',
                url: '../server/upload.php',
                afterUpload: function (data) {
                    var data = arguments[0];  //获取json数据
                    console.log(data);
                   
                    if (data.error == 0) {
                       $("#preview").attr("src",IMGURL+data.url);
                       $("input[name=cate_pic]").val(data.url);
                    }
                    dialog.remove();
                }
            });
            uploadbutton.fileBox.change(function (e) {
                uploadbutton.submit();
            });
        });
    })();
    
     (function () {
        KindEditor($("#upload_columnico")[0]).click(function () {
            var dialog = KindEditor.dialog({
                width: 300,
                title: '上传图标',
                body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadico" value="选择图片" /></div>',
                closeBtn: {
                    name: '关闭',
                    click: function (e) {
                        dialog.remove();
                    }
                },
                noBtn: {
                    name: '取消',
                    click: function (e) {
                        dialog.remove();
                    }
                }
            });
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#uploadico')[0],
                fieldName: 'imgFile',
                url: '../server/upload.php',
                afterUpload: function (data) {
                    var data = arguments[0];  //获取json数据
                    console.log(data);
                   
                    if (data.error == 0) {
                       $("#preview_ico").attr("src",IMGURL+data.url);
                       $("input[name=cate_ico]").val(data.url);
                    }
                    dialog.remove();
                }
            });
            uploadbutton.fileBox.change(function (e) {
                uploadbutton.submit();
            });
        });
    })();

   	

</script>