<link rel="stylesheet" href="../public/js/vendor/kindeditor/themes/default/default.css">
<div class="content_wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<aside>
					<header><i class="fa fa-fw fa-file"></i>APP初始配置</header>
					<section>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<form id="siteinfo" class="form-horizontal" role="form" method="post" action="">
										<div class="title_bar">默认值配置</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">应用名称</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="网站名称" name="site_name">
											</div>
											<p class="col-sm-6 help-block">必填</p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">后端服务器域名或IP地址</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="后端服务器域名或IP地址" name="site_domain">
											</div>
											<p class="col-sm-6 help-block">填写您站点的完整域名。例如: http://www.xxxx.com，不要以斜杠 (“/”) 结尾</p>
										</div>
										<div class="title_bar">公司信息</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">公司名称</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="公司名称" name="company_name">
											</div>
											<p class="col-sm-6 help-block"></p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">公司标识CKEY</label>
											<div class="col-sm-4">
												<input id="" type="text" class="form-control" placeholder="公司标识CKEY" name="ckey" disabled="disabled">
											</div>
											<p class="col-sm-6 help-block">唯一标识,由后台自动生成，不可更改</p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">公司电话</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="公司电话" name="company_tel">
											</div>
											<p class="col-sm-6 help-block"></p>
										</div>
										<hr/>

										<div class="form-group">
											<label class="col-sm-2 control-label">公司传真</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="公司传真" name="company_fax">
											</div>
											<p class="col-sm-6 help-block"></p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">公司EMAIL</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="@mail" name="company_email">
											</div>
											<p class="col-sm-6 help-block"></p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">公司地址</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="公司地址" name="company_addr">
											</div>
											<p class="col-sm-6 help-block"></p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">公司logo</label>
											<div class="col-sm-3">

												<input type="button" value="上传公司logo" id="btn2" class="btn btn-primary" />
											</div>
											<div class="col-sm-4">

												<input type="text" class="form-control" placeholder="公司的logo" name="company_logo">
											</div>

											<p class="col-sm-6 help-block"><img id="preview_logo" width="50" src="" /></p>
										</div>

										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">版权信息</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="版权信息" name="company_copyright">
											</div>
											<p class="col-sm-6 help-block"></p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">ICP备案号</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="ICP备案号" name="beianinfo">
											</div>
											<p class="col-sm-6 help-block"></p>
										</div>
										<div class="title_bar">站点状态设置</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">站点状态</label>
											<div class="col-sm-4">
												<div class="radio">
													<label>
                                                        <input type="radio" name="audit" value="1" checked>开启
                                                    </label>
												</div>
												<div class="radio">
													<label>
                                                        <input type="radio" name="audit" value="2">关闭
                                                    </label>
												</div>
											</div>
											<p class="col-sm-6 help-block">站点关闭后，任何人都无法访问</p>
										</div>
										<hr/>
										<div class="form-group">
											<div class="col-sm-12">
												<button name="savedata" type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</section>
				</aside>
			</div>
		</div>
	</div>

</div>
 <script src="../public/js/public.js"></script>
<script src="../public/js/define.js"></script>
<script src="../public/js/vendor/kindeditor/kindeditor-all-min.js"></script>
<script>
	
		
	//上传单个文件-弹出层
	(function() {
		
		
		GetInfo();		
		//get方式请求接口返回的数据
		function GetInfo() {
			$.ajax({
				type: 'GET',
				url: '../server/config.php?port=getinfo&lang='+LANG+'&ckey='+company_key,
				cache: false,
				dataType: 'json',
				success: function(json) {
					if(json.ret == 1) {
						$("input[name=site_name]").val(json.data.site_name);	
						$("input[name=site_domain]").val(json.data.site_domain);	
						$("input[name=company_name]").val(json.data.company_name);	
						$("input[name=company_tel]").val(json.data.company_tel);	
						$("input[name=company_fax]").val(json.data.company_fax);	
						$("input[name=company_email]").val(json.data.company_email);	
						$("input[name=company_addr]").val(json.data.company_addr);	
						$("input[name=company_logo]").val(json.data.company_logo);	
						$("input[name=company_copyright]").val(json.data.company_copyright);	
						$("input[name=beianinfo]").val(json.data.beianinfo);	
						$("input[name=ckey]").val(json.data.ckey);					
						if(json.data.company_logo) $("#page_header img").attr("src",SiteDmain + json.data.company_logo);
						var config_api = "../server/config.php?port=fix&lang="+LANG+"&fixid="+json.data.id;
					
						$("#siteinfo").attr("action", config_api);
						$("button[name=savedata]").text("修改站点信息");
					} else {
						$(".title_bar").append('<span style="color:red;margin-left:10px">（'+json.message+'）</span>');
						console.log(json);
					}

				},
				error: function(status) {
					console.log(status);
				}
			});
		}

		

		
		


	})();
	
	$(function(){
		"use strict"
		
		
		
		KindEditor($("#btn2")[0]).click(function(ImgUrl) {
			var dialog = KindEditor.dialog({
				width: 300,
				title: '上传图片',
				body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
				closeBtn: {
					name: '关闭',
					click: function(e) {
						dialog.remove();
					}
				},
				noBtn: {
					name: '取消',
					click: function(e) {
						dialog.remove();
					}
				}
			});
			var uploadbutton = KindEditor.uploadbutton({
				button: KindEditor('#uploadButton')[0],
				fieldName: 'imgFile',
				url: '../server/upload.php',
				afterUpload: function(data) {
					var data = arguments[0]; //获取json数据
					console.log(data);

					if(data.error == 0) {
						$("input[name=company_logo]").val(data.url);
						var ImgUrl = "http://127.0.0.1/";
						var imgpath=ImgUrl+data.url;

						$("#preview_logo").attr("src",imgpath);

					}
					dialog.remove();
				}
			});
			uploadbutton.fileBox.change(function(e) {
				uploadbutton.submit();
			});
		});
		
	});
</script>