<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header><i class="fa fa-fw fa-file"></i>IPTV后台管理系统（IPTV CMS）</header>
                    <script type="text/javascript">
                    	var str="";
                    	str += '您好！'+jsonobj.data.nickname+',您本次登录的TOKEN为：'+jsonobj.data.token;
                    	$("#userinfo").html(str);
						 
                    	
                    	
                    </script>
                    
                    
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-success" role="alert">
                                      
                                    </div>
                                    <div class="my_panel">
                                        <div class="heading">欢迎信息</div>
                                        <div class="body" id="userinfo">您好：admin！您上一次登录时间：2016-09-29 13:07，登录IP：127.0.0.1</div>
                                    </div>
                                    <div class="my_panel">
                                        <div class="heading">系统信息</div>
                                        <div class="body">
                                            <table class="table table-striped">
                                                <tbody>
                                                <tr>
                                                    <td width="200">软件版本</td>
                                                    <td>v1</td>
                                                </tr>
                                                <tr>
                                                    <td>操作系统</td>
                                                    <td>WINNT</td>
                                                </tr>
                                                <tr>
                                                    <td>PHP版本</td>
                                                    <td>5.4.16</td>
                                                </tr>
                                                <tr>
                                                    <td>MYSQL版本</td>
                                                    <td>5.6.12-log</td>
                                                </tr>
                                                <tr>
                                                    <td>服务器端信息</td>
                                                    <td>Apache/2.4.4 (Win32)</td>
                                                </tr>
                                                <tr>
                                                    <td>最大上传限制</td>
                                                    <td>2M</td>
                                                </tr>
                                                <tr>
                                                    <td>最大执行时间</td>
                                                    <td>30 seconds</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="my_panel">
                                        <div class="heading">开发团队</div>
                                        <div class="body">
                                            <table class="table table-striped">
                                                <tbody>
                                                <tr>
                                                    <td width="200">创建者</td>
                                                    <td>Stephen</td>
                                                </tr>
                                                <tr>
                                                    <td width="200">前端页面</td>
                                                    <td>Sandy</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>