<div class="content_wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<aside>
					<header><i class="fa fa-fw fa-file"></i>设备信息</header>
					<section>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<form  class="form-horizontal" role="form" method="post" action="">
										<div class="title_bar">设备信息&房间信息</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">设备名称</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="设备名称" name="tv_name">
											</div>
											<p class="col-sm-6 help-block">必填</p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">房间号</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="所属房间号" name="room_id">
											</div>
											<p class="col-sm-6 help-block">填写所属房间号</p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">MAC地址</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="MAC地址" name="tv_mac">
											</div>
											<p class="col-sm-6 help-block"></p>
										</div>
										<hr/>
										
										<div class="form-group">
											<label class="col-sm-2 control-label">设备型号</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="设备型号" name="tv_model">
											</div>
											<p class="col-sm-6 help-block"></p>
										</div>
										<hr/>

										<div class="form-group">
											<label class="col-sm-2 control-label">设备SN号</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="设备SN号" name="tv_sn">
											</div>
											<p class="col-sm-6 help-block"></p>
										</div>
										<hr/>
										
										<div class="form-group">
											<div class="col-sm-12">
												<button name="savedata" type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</section>
				</aside>
			</div>
		</div>
	</div>

</div>
 <script src="../public/js/public.js"></script>
<script src="../public/js/define.js"></script>
<script>
	
		
$(function(){
	"use strict"
	$("form").attr("action","../server/facility.php?port=add");
		
});
		
</script>