<div class="content_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header><i class="fa fa-fw fa-file"></i>设备管理</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="btn-group" style="margin-bottom:20px;">
                                        <!--<button class="btn btn-default J_ajax_content_modal" data-href="facility_search.html"><i class="fa fa-filter"></i>查询</button>
                                        <a class="btn btn-default"><i class="fa fa-file-o"></i>添加设备</a>-->
                                    </div>
                                    <div class="table-responsive">
                                        <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th width="80">设备id</th>
                                                <th width="140">操作</th>
                                                <th>设备名称</th>
                                                <th>所在房间号</th>
                                                <th>MAC地址</th>
                                                <!--<th width="70">IP地址</th>-->
                                                <th width="70">设备型号</th>
                                                <th width="70">设备SN号</th>
                                                <th width="160">添加时间</th>
                                            </tr>
                                            </thead>
                                            <tbody id="fac_list">

                                            </tbody>
                                        </table>
                                    </div>
                                    <!--<nav>
                                        <ul class="pagination">
                                            <li class="disabled"><a href="#">共15条</a></li>
                                            <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </nav>-->
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>
<script src="../public/js/public.js?ver=1"></script>
<script src="../public/js/define.js?ver=1"></script>
<script type="text/javascript">
	
 $(function() {    	
		"use strict"

console.log("当前开发模式="+DEVMODE);
			var apiurl = '../server/facility.php?port=getlist&lang=' + LANG;		
			getList(apiurl);
	
		//get方式请求接口返回的数据
		function getList(URL) {
			$.ajax({
				type: 'get',
				url: URL,
				cache: false,
				dataType: 'json',
				success: function(json) {
				if(DEVMODE)	console.log(json);

					if(json.ret == 1) {
						var str=""
							for(var i=0;i<json.data.length;i++){
                               str += '';
                      				  	str += '<tr>';
	                                        str += '<td>'+json.data[i].id+'</td>';
	                                        str += '<td>';
	                                            str += '<a  href="#facility_fix.html?id=' + json.data[i].id + '" class="btn btn-primary btn-xs">编辑</a>';
	                                            str += '<button type="button" class="btn btn-warning btn-xs J_confirm_modal" data-tip="一定要删除？" data-target="../server/facility.php?port=del&lang=' + LANG+'&id=' + json.data[i].id + '">删除</button>';
	                                        str += '</td>';
	                                        str += '<td>'+json.data[i].tv_name+'</td>';
	                                        str += '<td>'+json.data[i].room_id+'</td>';
	                                        str += '<td>'+json.data[i].tv_mac+'</td>';
//	                                        str += '<td>'+json.data[i].tv_ip+'</td>';
	                                        str += '<td>'+json.data[i].tv_model+'</td>';
	                                        str += '<td>'+json.data[i].tv_sn+'</td>';
	                                        str += '<td>'+json.data[i].updatetime+'</td>';
                                    	str += '</tr>';
							}
							
						$("#fac_list").append(str);
						 
					}else{
						console.log(json.msg);
					}
					
				}
			});
		}
});
</script>