<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">设备搜索</h4>
</div>
<form class="form-horizontal J_ajaxForm" role="form" method="get" action="" data-validate="validate">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">按房间号搜索</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="输入房间号" name="room_id">
                <!--<p class="help-block">必填</p>-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">按设备MAC地址搜索</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="输入mac地址" name="tv_mac">
                <!--<p class="help-block">必填</p>-->
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
    </div>
</form>

<script>
    function validate($from) {
        var room_id = $from.find('input[name="room_id"]');
        var tv_mac = $from.find('input[name="tv_mac"]');
        if ($.trim(room_id.val())!= '') {
            var ajaxUrl = "../server/facility.php?port=getlist&lang="+LANG+"&room_id="+room_id.val();
            $(".J_ajaxForm").attr("action",ajaxUrl);
        }
         if ($.trim(tv_mac.val())!= '') {
             var ajaxUrl = "../server/facility.php?port=getlist&lang="+LANG+"&tv_mac="+tv_mac.val();
            $(".J_ajaxForm").attr("action",ajaxUrl);
            // return '设备号不能为空';
        }

        return true;
    }
</script>