<div class="content_wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<aside>
					<header><i class="fa fa-fw fa-file"></i>设备信息</header>
					<section>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<form id="myform" class="form-horizontal" role="form" method="post" action="">
										<div class="title_bar">设备信息&房间信息</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">设备名称</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="设备名称" name="tv_name">
											</div>
											<p class="col-sm-6 help-block">必填</p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">房间号</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="所属房间号" name="room_id">
											</div>
											<p class="col-sm-6 help-block">必填</p>
										</div>
										<hr/>
										<div class="form-group">
											<label class="col-sm-2 control-label">MAC地址</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="MAC地址" name="tv_mac">
											</div>
											<p class="col-sm-6 help-block">必填</p>
										</div>
										<hr/>
									
										<div class="form-group">
											<label class="col-sm-2 control-label">设备型号</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="设备型号" name="tv_model">
											</div>
											<p class="col-sm-6 help-block">选填</p>
										</div>
										<hr/>

										<div class="form-group">
											<label class="col-sm-2 control-label">设备SN号</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="设备SN号" name="tv_sn">
											</div>
											<p class="col-sm-6 help-block">选填</p>
										</div>
										<hr/>
										
										<div class="form-group">
											<div class="col-sm-12">
												<button name="savedata" type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</section>
				</aside>
			</div>
		</div>
	</div>

</div>
 <script src="../public/js/public.js"></script>
<script src="../public/js/define.js"></script>
<script src="../public/js/vendor/kindeditor/kindeditor-all-min.js"></script>
<script>
	
		
$(function(){
	"use strict"
	var FIXID = $_GET["id"] ? $_GET["id"] : null;
	$("#myform").attr('action','../server/facility.php?port=fix&id='+ FIXID);
	if (FIXID === null) return;
	$.ajax({
				type: 'get',
				url: '../server/facility.php?port=getinfo&id='+FIXID,
				cache: false,
				dataType: 'json',
				success: function(json) {
		console.log(json);

					if(json.ret === 1) {
						$("input[name=tv_name]").val(json.data.tv_name);
						$("input[name=room_id]").val(json.data.room_id);
						$("input[name=tv_mac]").val(json.data.tv_mac);
						$("input[name=tv_model]").val(json.data.tv_model);
						$("input[name=tv_sn]").val(json.data.tv_sn);
				
					}else{
						console.log(json.msg);
					}
					
				}
			});
		
});
		
</script>