<div class="content_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header><i class="fa fa-fw fa-file"></i>消息管理-历史消息</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                            	<div class="table-responsive">
                                        <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th >ID</th>
                                                <th width="240">操作</th>
                                                <th width="340">消息内容</th>
                                                <!--<th>消息状态</th>-->
                                                <!--<th>消息有效时间</th>
                                                <th>离失效还有（分钟）</th>
                                                <th>消息循环次数</th>-->
                                                <!--<th>当前状态</th>
                                                <th >消息发布时间</th>-->
                                                
                                            </tr>
                                            </thead>
                                            <tbody id="list">

                                            </tbody>
                                        </table>
                                    </div>
                                    <nav>
                                        <ul class="pagination">
                                            <li class="disabled"><a href="#">共15条</a></li>
                                            <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
<button class=btn btn-success</button>
</div>
<script src="../public/js/public.js"></script>
<script src="../public/js/define.js"></script>
<script type="text/javascript">
 $(function() {    	
		"use strict"
	
	
		
			$.ajax({
				type: 'get',
				url: '../server/mpi.php?port=getlist&mpi_status=0&lang=' + LANG,
				cache: false,
				dataType: 'json',
				success: function(json) {

					if(json.ret == 1) {
						
						var str=""
							for(var i=0;i<json.data.message.length;i++){
								
                      				  		str += '<tr>';
	                                        str += '<td>'+json.data.message[i].id+'</td>';
	                                        str += '<td>';
//	                                      	str += '<button type="button" sytle="margin-left:10px" class="btn btn-primary btn-xs J_confirm_modal" data-tip="确定处理该订单吗？!" data-target="../server/order.php?port=fix&orderid='+json.data[i].orderid+'&orderstatus=2">处理</button>';
//	                                        str += '<a class="btn btn-primary btn-xs" sytle="margin-left:10px"  href="#order_detail.html?orderid='+json.data[i].orderid+'">详 情</a>';
	                                        str += '</td>';
	                                        str += '<td>'+json.data.message[i].mpi_msg+'</td>';
	                                      
	                                      
	                                        
//	                                        str += '<td></td>';
//	                                     
//	                                        str += '<td></td>';
//	                                           str += '<td>'+json.data.message[i].loop_number+'</td>';

	                                        str += '<td></td>';
	                                        str += '<td></td>';                   
											str += '</tr>';
							}
							
						$("#list").append(str);
						 
					}else{
						str =json.message;
						$("#example").html(str);
						console.log(json.message);
					}
					
				}
			});
			
			
			$(".search").on('click',function(){	
				var keywords = $("input[name=keywords]").val();
				window.location.href = "#order_list_search.html?keywords="+keywords;
				
			});
	
	
});
</script>