<link rel="stylesheet" href="../public/js/vendor/kindeditor/themes/default/default.css">
<link rel="stylesheet" href="../public/js/vendor/summernote/summernote.css">
<link rel="stylesheet" href="../public/js/vendor/uploadify/mydemo/uploadify-demo.css">
<script src="../public/js/vendor/uploadify/jquery.uploadify.min.js"></script>
<script src="../public/js/vendor/summernote/summernote.js"></script>
<script src="../public/js/vendor/summernote/lang/summernote-zh-CN.js"></script>
<script src="../public/js/public.js?ver=1"></script>
<script src="../public/js/define.js?ver=1"></script>
<script src="../public/js/vendor/kindeditor/kindeditor-all-min.js"></script>
<div class="content_wrapper" >
    <div class="container-fluid">     
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header><i class="fa fa-fw fa-file"></i>发布新的消息</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-horizontal" role="form" method="post" action="" data-validate="validate2">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">消息内容</label>
                                            <div class="col-sm-10">
                                                <textarea rows="1"  class="form-control" name="mpi_msg"></textarea>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">消息循环次数</label>
                                            <div class="col-sm-2">
                                                <input class="form-control" name="loop_number" value="1"></input>
                                            </div>
                                            <p class="col-sm-6 help-block">必填，不能小于1<!--此处代表消息循环显示次数，超过次数后不再显示，由前端判断--></p>
                                        </div>
                                                                              
                                        <hr/>
                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">有效时长</label>
                                            <div class="col-sm-10">
                                                <div class="radio">
                                                    <label class="col-sm-3">
                                                        <input type="radio" name="lose_time" value="3" checked>3分钟
                                                    </label>
                                                     <label class="col-sm-3">
                                                        <input type="radio" name="lose_time" value="5" >5分钟
                                                    </label>
                                                     <label class="col-sm-3">
                                                        <input type="radio" name="lose_time" value="10" >10分钟
                                                    </label>
                                                     <label class="col-sm-3">
                                                        <input type="radio" name="lose_time" value="30" >30分钟
                                                    </label>
                                                 
                                                </div>
                                                  <!--<div class="radio">
                                                    <label class="col-sm-4">
                                                        <input type="radio" name="lose_time" value="60">1小时
                                                    </label>
                                                     <label class="col-sm-4">
                                                        <input type="radio" name="lose_time" value="120" >2小时
                                                    </label>
                                                     <label class="col-sm-4">
                                                        <input type="radio" name="lose_time" value="720" >12小时
                                                    </label>
                                                     <label class="col-sm-4">
                                                        <input type="radio" name="lose_time" value="1440" >24小时
                                                    </label>
                                            
                                                </div>-->
                                            
                                            </div>
                                            <!--<p class="col-sm-6 help-block">前端请求消息时会自动对比消息发布时间，
                                            	当大于此处的值时，消息处于失效状态。</p>-->
                                        </div>
                                        <hr/>
                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">消息状态</label>
                                            <div class="col-sm-4">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="msg_status" value="0" >已失效
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="msg_status" value="1" checked>立刻生效
                                                    </label>
                                                </div>
                                            </div>
                                            <p class="col-sm-6 help-block">如果消息处于失效状态，则此条消息不在客户端显示</p>
                                        </div>
                                        <hr/>
                                        <div class="form-group">                                        
                                            <div class="col-sm-offset-2 col-sm-10 ">
                                                <button type="button" class="btn btn-primary J_ajaxSubmitBtn">发布</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</div>
<script>
	$(function(){
	"use strict"
	$("form").attr("action","../server/mpi.php?port=add&lang="+LANG);
		
});
	
    function callback1(returnData, $from) {
        console.log($from);
    }
    
    
    function validate2($from) {
		var mpi_msg = $from.find('textarea[name="mpi_msg"]');
		if($.trim(mpi_msg.val()) == '') {
			return '消息标题不能为空';
		}
	
	
		if($('input[name=loop_number]').val()< 1 || $('input[name=loop_number]').val() == '') {
			return '循环次数不能为空并且不能小于1';
		}
		
		
		return true;
	}


	

	
</script>