<link rel="stylesheet" href="../public/js/vendor/kindeditor/themes/default/default.css">

<link rel="stylesheet" href="../public/js/vendor/uploadify/mydemo/uploadify-demo.css">
<script src="../public/js/vendor/uploadify/jquery.uploadify.min.js"></script>

<script src="../public/js/public.js"></script>
<script src="../public/js/define.js"></script>
<script src="../public/js/vendor/kindeditor/kindeditor-all-min.js"></script>
<div class="content_wrapper" >
    <div class="container-fluid">     
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header id='tips'><i class="fa fa-fw fa-file"></i>修改电视频道</header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form id="myform" class="form-horizontal" role="form" method="post" action="" data-validate="validate2">
                                    	<div class="form-group">
                                            <label class="col-sm-2 control-label">排序序号</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="电视频道序号" name="channel_order" onblur="checkOrder()" >
                                            </div>
                                            <p id='checkorder' class="col-sm-6 help-block">必填(channel_order)</p>
                                        </div>
                                        <hr/> 
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">频道号</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="电视频道序号" name="channel_number" >
                                            </div>
                                            <p class="col-sm-6 help-block">必填(channel_number)</p>
                                        </div>
                                        <hr/> 
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">频道名称（中文）</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="" name="channel_name_chin" >
                                            </div>
                                            <p class="col-sm-6 help-block">必填(channel_name_chin)</p>
                                        </div>
                                        <hr/> 
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">频道名称（英文） </label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="" name="channel_name_eng" >
                                            </div>
                                            <p class="col-sm-6 help-block">必填(channel_name_eng)</p>
                                        </div>
                                        <hr/> 
                                        <!--<div class="form-group">
                                            <label class="col-sm-2 control-label">频道类型</label>
                                            <div class="col-sm-4">
                                                <select id="type" class="form-control" name="channel_type">
                                                    <option value="0">请选择频道类型</option>
                                                    <option value="1">电视频道</option>
                                                    <option value="2">自办频道</option>                                         
                                                </select>
                                            </div>
                                            <p class="col-sm-6 help-block">必填（channel_type）</p>
                                        </div>
                                        <hr/>-->
                                         
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">SERVICEID</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="SERVICEID" name="channel_serviceId" >
                                            </div>
                                            <p class="col-sm-6 help-block">必填(channel_serviceId)</p>
                                        </div>
                                        <hr/>  
                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">NETWORK</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="1" name="channel_networkId" >
                                            </div>
                                            <p class="col-sm-6 help-block">必填(channel_networkId)</p>
                                        </div>
                                        <hr/> 
                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">TSID</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="1" name="channel_tsId" >
                                            </div>
                                            <p class="col-sm-6 help-block">必填(channel_tsId)</p>
                                        </div>
                                        <hr/>  
                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">符号率</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="频道所在频点的符号率，单位KSymbol/S" name="symbolRate" >
                                            </div>
                                            <p class="col-sm-6 help-block">必填（symbolRate）</p>
                                        </div>
                                        <hr/>  
                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">频率</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="频道所在频点的中心频率，单位MHz" name="frequency" >
                                            </div>
                                            <p class="col-sm-6 help-block">必填（frequency）,单位：MHZ（例如：259000)</p>
                                        </div>
                                        <hr/> 
                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">调制方式</label>
                                            <div class="col-sm-4">
                                                <select id="type" class="form-control" name="modulation">
                                                    <option value="0">请选择信号调制方式</option>
                                                    <option value="1">QAM16</option>
                                                    <option value="2">QAM32</option>  
                                                    <option value="3">QAM64</option>
                                                    <option value="4">QAM128</option>  
                                                    <option value="5">QAM256</option> 
                                                </select>
                                            </div>
                                            <p class="col-sm-6 help-block">必填（modulation）</p>
                                        </div>
                                        <hr/>
                                        
                                            <div class="form-group">
                                            <label class="col-sm-2 control-label">显示方式</label>
                                            <div class="col-sm-4">
                                                <select id="displaytype" class="form-control" name="displaytype">
                                                    <option value="ALL">默认在所有房间显示</option>
                                                    <option value="OD">仅显示于以下房间</option>
                                      
                                                </select>
                                            </div>
                                            <p class="col-sm-6 help-block">必选（displaytype）</p>
                                        </div>
                                        <hr/>
                                        <div id='displayRoom' class="form-group">
                                            <label class="col-sm-2 control-label">输入要显示的房间号</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="例如：1001,1002,1003" name="room_id" >
                                            </div>
                                            <p class="col-sm-6 help-block">多个房间以英文的逗号,分隔,房间号必须是整数。</p>
                                            
                                        </div>
                                        <hr/>
                                
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">电视台台标</label>
                                            <div class="col-sm-1">
                                            	<input type="button" value="上传文件 " id="uploadimage" class="btn btn-primary"/>
                                            </div>
                                            <div class="col-sm-6">
                                            	
                                                <input  type="text" class="form-control" placeholder="电视台台标，推荐PNG图片" name="channel_logo">
                                                 <p class="col-sm-6 help-block">必填</p>
                                            </div>
                                            <div class="col-sm-2">
                                            	   <img width="200" height="150" src="" id="preview"/>
                                            </div>
                                           
                                        </div>
                                        <hr/> 
                                   
                                        <div class="form-group">
                                            <div class=" col-sm-12">
                                                <button type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>
<script>



	$("#displaytype").change(function(){
   	 $(this).css("background-color","#f0f0f0");
   	 var displaytype = $(this).val();
		if(displaytype == 'OD'){
			$('#displayRoom').show();
			$('#displayRoom').css("background-color","#f0f0f0");
		}else{
			$('#displayRoom').hide();
		}
 	 });
	


	function callback1(returnData, $from) {
		console.log($from);
	}

	 function validate2($from) {
		
		var channel_order = $from.find('input[name="channel_order"]');
        if($.trim(channel_order.val()) == '') {
            return '频道序号不能为空';
        }
        var channel_number= $from.find('input[name="channel_number"]');
        if($.trim(channel_number.val()) == '') {
            return '频道号不能为空';
        }
		var channel_name_chin= $from.find('input[name="channel_name_chin"]');
        if($.trim(channel_name_chin.val()) == '') {
            return '电视频道中文名称不能为空';
        }
		var channel_name_eng= $from.find('input[name="channel_name_eng"]');
		if($.trim(channel_name_eng.val()) == '') {
			return '电视频道英文名称不能为空';
		}
		var serviceid = $from.find('input[name="channel_serviceId"]');
		if($.trim(serviceid.val()) == '') {
			return 'serviceid不能为空';
		}
		var network = $from.find('input[name="channel_networkId"]');
		if($.trim(network.val()) == '') {
			return 'network不能为空';
		}
		var channel_tsId = $from.find('input[name="channel_tsId"]');
		if($.trim(channel_tsId.val()) == '') {
			return 'channel_tsId不能为空';
		}
		var channel_logo = $from.find('input[name="channel_logo"]');
		if($.trim(channel_logo.val()) == '') {
			return 'channel_logo不能为空';
		}

		var modulation = $from.find('select[name="modulation"]');
        if (modulation.val() == 0) {
            return '必须选择一个调制方式';
        }
     

		return true;
	}
	 
	 /**
		 * 检测ORDER是否重复
		 */
		function checkOrder(){
			var channel_orders = $("input[name=channel_order").val();
			$.ajax({
				type: 'get',
				url: '../server/tv.php?port=check&channel_order=' + channel_orders ,
				cache: false,
				dataType: 'json',
				success: function(json) {
					if(json.ret == 1) {
						 $("input[name=channel_order").css('background-color','greenyellow');
						 $("#checkorder").html("<div style='color:red'>可用序号</div>");
						 $("button").removeAttr("disabled");
					}else {
						 $("input[name=channel_order").css('background-color','red');
						 $("#checkorder").html("<div style='color:red'>您输入的Channel_order已经存在</div>");
						 $("button").attr("disabled","disabled");
					}
				}
			});
		}

	
	$(function() {
		"use strict"
		
		
		// 获取修改的id
		var fixID = $_GET["id"];
		var channel_number = $_GET["channel_number"];
		
		if(fixID != null || fixID === 0) {
		var action_url = "../server/tv.php?port=fix&lang="+LANG+"&id=" + fixID+"&channel_number=" + channel_number;
		$("#myform").attr("action", action_url);
		
//		$("#urldesc").append("图片服务器URL：["+IMGURL+"]调用到内容区时请注意加上！");
		
		if (fixID == 10 || fixID == 11) {
//			$("input[name=channel_order").attr('disabled','disabled');
			$("#tips").append('--本次修改的是自办频道，<strong style="color:red">频道序号不可更改ID为：'+fixID+'</strong>');
		}else{
			$("#tips").append('--本次修改的ID为：<strong style="color:red">'+fixID+'</strong>');
		}

		//调用详情接口;
		getInfo(fixID);
		
		
						   	
	
		}
		

		
		/**
		 * 根据ID号获取栏目详情：
		 */
		function getInfo(ID) {
			$.ajax({
				type: 'get',
				url: '../server/tv.php?port=getinfo&id=' + ID,
				cache: false,
				dataType: 'json',
				async:false, 
				success: function(json) {
					if(json.ret == 1) {
						var listobj = json.data.list;
						$("input[name=channel_logo").val(listobj.channel_logo);
					
						$("input[name=channel_number").val(listobj.channel_number);
						$("input[name=channel_name_chin").val(listobj.channel_name_chin);		
						$("input[name=channel_name_eng").val(listobj.channel_name_eng);		
						$("input[name=channel_serviceId").val(listobj.channel_serviceId);	
						$("input[name=channel_networkId").val(listobj.channel_networkId);	
						$("input[name=channel_tsId").val(listobj.channel_tsId);						
						
						$("input[name=frequency").val(listobj.frequency);
						$("select[name=modulation").val(listobj.modulation);
						
						$("input[name=freqmhz").val(listobj.freqmhz);
						$("input[name=symbolRate").val(listobj.symbolRate);	
						if(listobj.displaytype != null){
							$("select[name=displaytype").val(listobj.displaytype);
							
							
							if(listobj.displaytype == 'OD'){
								$("select[name=displaytype").css("background-color","#F0A30A");
								$('#displayRoom').show();
								$("input[name=room_id").val(listobj.room_id);
								$("input[name=room_id").css("background-color","#F0A30A");
							}else{
								$('#displayRoom').hide();
							}			 
							
						}else{
							$('#displayRoom').hide();
						}
//						$("select[name=channel_type").val(listobj.channel_type);
						$("#preview").attr('src',IMGURL+listobj.channel_logo);
					if(ID == 10 ){
						$("input[name=channel_order").val('1');
					}else if(ID == 11) {
						$("input[name=channel_order").val('2');
					}else {
						$("input[name=channel_order").val(listobj.channel_order);
					}
					
						
	
					} else {
						console.log(json.msg);
					}

				}
			});
		}
	
		
		
		
			
	});

	
   //上传单个文件-弹出层
    (function () {
        KindEditor($("#uploadimage")[0]).click(function () {
            var dialog = KindEditor.dialog({
                width: 300,
                title: '上传图片',
                body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
                closeBtn: {
                    name: '关闭',
                    click: function (e) {
                        dialog.remove();
                    }
                },
                noBtn: {
                    name: '取消',
                    click: function (e) {
                        dialog.remove();
                    }
                }
            });
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#uploadButton')[0],
                fieldName: 'imgFile',
                url: '../server/upload.php',
                afterUpload: function (data) {
                    var data = arguments[0];  //获取json数据
                    console.log(data);
                   
                    if (data.error == 0) {
                       $("#preview").attr("src",IMGURL+data.url);
                       $("input[name=channel_logo]").val(data.url);
                    }
                    dialog.remove();
                }
            });
            uploadbutton.fileBox.change(function (e) {
                uploadbutton.submit();
            });
        });
    })();

 
</script>

