<div class="content_wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<aside>
					<header><i class="fa fa-fw fa-file"></i>电视频道管理
						<!--<div id="app">{{ message }}</div>-->
					</header>
					<section>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
								<div class="bar-warning" id="ver">当前频道列表版本号：<span></span></div>
									<div class="table-responsive">
										<table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
											<thead>
												<tr style="text-align: center;">
													<th style="text-align: center;" width="80">排序号</th>
													<th style="text-align: center;" width="140">操作</th>
													<th style="text-align: center;">频道号</th>
													<th style="text-align: center;">频道中文名</th>
													<th style="text-align: center;">频道英文名</th>
													<th style="text-align: center;">频道台标</th>
													<th style="text-align: center;">显示类型</th>
													<th style="text-align: center;">显示的房间</th>
													<th style="text-align: center;">SERVICEID|TSID|NETWORK</th>
													
													<th style="text-align: center;">更新时间</th>
												</tr>
											</thead>
											<tbody id="tv_list">

											</tbody>
										</table>
									</div>
									<nav>
										<ul class="pagination">

										</ul>
									</nav>
								</div>
							</div>
						</div>
					</section>
				</aside>
			</div>
		</div>
	</div>

</div>

<script src="../public/js/public.js"></script>
<script src="../public/js/define.js"></script>

<script type="text/javascript">
	$(function() {
		"use strict"
		
		

		//初始化页码，默认显示第1页;
		var pageNum = 0;

		//获取电视频道列表，默认取前GET_LIST_COUNT条数据;
		getList(pageNum, GET_LIST_COUNT);
		//获取电视频道总数；
		$.getJSON("../server/tv.php?port=getlistcount&lang="+LANG, function(data) {
				var str = "";
				//电视频道总数
				if(data.ret ==1){
					total_items = data.data.total;
				
				
				//本地存储电视频道总数参数
				setToken(sign, 'article_count', total_items);
				//计算总页数
				var total_page = total_items % GET_LIST_COUNT == 0 ? total_items / GET_LIST_COUNT : Math.ceil(total_items / GET_LIST_COUNT);
				//分页的html代码
				str += '<li class="disabled "><a id="total_page" href="#">共' + total_items + '条</a></li>';
				str += '<li class="disabled" id="prevbtn"><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>';
				//判断总页数是否大于1页
				if(total_page > 1) {
					var j = 0;
					for(var i = 0; i < total_page; i++) {
						j = i + 1;
						str += '<li pagenum="' + i + '" id="page' + j + '" class="pagestyle" ><a   href="javascript:void(0);">' + j + '</a></li>';
					}
				} else {
					str += '<li pagenum="0" id="page1" class="pagestyle" ><a   href="javascript:void(0);">1</a></li>';
				}
				str += '<li id="nextbtn"><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>';
				//将分页代码写入指定的分页区域
				$(".pagination").html(str);
				//指定第一页为激活状态
				$("#page1").addClass("active");
			}else{
				$("header").append(data.msg);
			}
			//点击页码事件
			$(".pagestyle").click(function() {
				//获取页码数值，默认第一页为0，以此类推
				var pageNum = $(this).attr("pagenum");
				//判断(页码如果不是第一页,也不是最后一页时，启用上一页按钮)
				if(pageNum > 0 && pageNum != (total_page - 1)) {
					$($(this).siblings()).removeClass("disabled");
					//判断(页码是最后一页时，禁用下一页按钮)	
				} else if(pageNum == (total_page - 1)) {
					$(this).nextAll().addClass("disabled");
					$(this).prevAll().removeClass("disabled");
					//判断(页码是第一页时,禁用上一页按钮)
				} else {
					$(this).prevAll().addClass("disabled");
					$(this).nextAll().removeClass("disabled");
				}

				$(this).addClass("active"); //当前点击的元素
				$($(this).siblings()).removeClass("active") //除当前元素外的其他元素	
				//获取指定页码的记录，每页显示数量由GET_LIST_COUNT值指定（GET_LIST_COUNT，在定义define.js文件中修改）
				getList(pageNum, GET_LIST_COUNT);

			});

			$("#prevbtn").on('click', function() {
				//激活下一页按钮
				$("#nextbtn").removeClass("disabled");
				var curpagenum = parseInt(parseInt($(".active").attr("pagenum")) + 1);
				var pageNum = parseInt(parseInt(curpagenum) - 1);
				var fromId = parseInt(parseInt(pageNum) - 1);
				getList(fromId, GET_LIST_COUNT);
				$("#page" + pageNum).addClass("active");
				$($("#page" + pageNum).siblings()).removeClass("active");
				if(pageNum == 1) {
					$(this).addClass("disabled");
				}

			});

			$("#nextbtn").on('click', function() {
				//激活上一页按钮
				$("#prevbtn").removeClass("disabled");
				var curpagenum = parseInt(parseInt($(".active").attr("pagenum")) + 1);
				var pageNum = parseInt(parseInt(curpagenum) + 1);
				var fromId = parseInt(parseInt(pageNum) - 1);
				getList(fromId, GET_LIST_COUNT);

				$("#page" + pageNum).addClass("active");
				$($("#page" + pageNum).siblings()).removeClass("active");
				//禁用下一页按钮
				if(pageNum == total_page) {
					$(this).addClass("disabled");
				}
			});

		});
	});

	function getList(page, Lengths) {

		$.ajax({
			type: 'get',
			url: '../server/tv.php?port=getlist_admin&from=' + page + '&nums=' + Lengths,
			cache: false,
			dataType: 'json',
			success: function(json) {
				console.log(json);
				if(json.ret == 1) {
					$("#ver span").html("<span style='color: royalblue; margin-left: 15px;'>"+json.data.version+"</span>");
					var str = ""

//					$("#fac_list").html(""); //初始化列表显示区
					for(var i = 0; i < json.data.list.length; i++) {
						
						str += '<tr>';
						str += '<td style="text-align: center;">' + json.data.list[i].channel_order+ '</td>';
						str += '<td style="text-align: center;">';
						str += '<a href="#tv_fix.html?id=' + json.data.list[i].id + '&channel_number='+ json.data.list[i].channel_number +'" class="btn btn-primary btn-xs">编辑</a>';
						if(json.data.list[i].id != 10 || json.data.list[i].id != 11)
						str += '<button style="margin-left:10px" type="button" class="btn btn-warning btn-xs J_confirm_modal" data-tip="一定要删除？" data-target="../server/tv.php?port=del&lang='+LANG+'&id=' + json.data.list[i].id + '">删除</button>';
						str += '</td>';
						str += '<td>' + json.data.list[i].channel_number + '</td>';
						str += '<td>' + json.data.list[i].channel_name_chin + '</td>';
						str += '<td>' + json.data.list[i].channel_name_eng + '</td>';
						str += '<td>' + json.data.list[i].channel_logo + '</td>';
						str += '<td>' + json.data.list[i].displaytype + '</td>';
						str += '<td>' + json.data.list[i].room_id + '</td>';
						str += '<td>' + json.data.list[i].channel_serviceId +'|'+json.data.list[i].channel_tsId + '|'+json.data.list[i].channel_networkId +'</td>';
						str += '<td>' + json.data.list[i].updatetime + '</td>';
						str += '</tr>';

					}

					$("#tv_list").html(str);
				} else {
					console.log(json.msg);
					$("header").append(json.msg);
			
					
				}

			}
		});

	};
	

</script>