<link rel="stylesheet" href="../public/js/vendor/kindeditor/themes/default/default.css">
<link rel="stylesheet" href="../public/js/vendor/uploadify/mydemo/uploadify-demo.css">
<script src="../public/js/vendor/uploadify/jquery.uploadify.min.js"></script>
<script src="../public/js/public.js"></script>
<script src="../public/js/define.js"></script>
<script src="../public/js/vendor/kindeditor/kindeditor-all-min.js"></script>
<div class="content_wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<aside>
					<header id="tips"><i class="fa fa-fw fa-file"></i>欢迎页内容管理</header>
					<section>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<form id="article_fix" class="form-horizontal" role="form" method="post" action="" data-validate="validate2">
										<div class="form-group">
											<label class="col-sm-2 control-label">称谓标题</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="" name="name" value="尊敬的贵客">
											</div>
											<p class="col-sm-6 help-block">必填</p>
										</div>
										<hr/>
										
									
										<div class="form-group">
                                            <label class="col-sm-2 control-label">默认语言设置</label>
                                            <div class="col-sm-4">
                                                <select id="lang" class="form-control" name="language">
                                                    <option value="0">请选择默认语言,必填</option>
                                                    <option value="1" selected="selected">中文(值为1)</option>
                                                    <option value="2">English(值为2)</option>
                                                  
                                                 
                                                </select>
                                            </div>
                                            <p class="col-sm-6 help-block"></p>
                                        </div>
                                        <hr/>
										
										

										  <div class="form-group">
                                            <label class="col-sm-2 control-label">LOGO图标</label>
                                            <div class="col-sm-1">
                                            	<input type="button" value="上传图片 " id="uploadimage" class="btn btn-primary"/>
                                            </div>
                                            <div class="col-sm-6">
                                            	
                                                <input  type="text" class="form-control" placeholder="PNG图片" name="logo">
                                                 <p class="col-sm-6 help-block">必填</p>
                                            </div>
                                            <div class="col-sm-2">
                                            	   <img width="200" height="150" src="" id="preview"/>
                                            </div>
                                           
                                        </div>
                                        <hr/> 
                                        
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">总经理签名</label>
                                            <div class="col-sm-1">
                                            	<input type="button" value="上传图片 " id="uploadsign" class="btn btn-primary"/>
                                            </div>
                                            <div class="col-sm-6">
                                            	
                                                <input  type="text" class="form-control" placeholder="PNG图片" name="sign" value="">
                                                 <p class="col-sm-6 help-block">必填</p>
                                            </div>
                                            <div class="col-sm-2">
                                            	   <img width="200" height="150" src="" id="preview_sign"/>
                                            </div>
                                           
                                        </div>
                                        <hr/> 
										
										<div class="form-group">
                                            <label class="col-sm-2 control-label">欢迎词(纯文本)</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="content"></textarea>
                                            </div>
                                        </div>
                                        <hr/>
                                        
										<div class="form-group">
											<div class=" col-sm-12">
												<button type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</section>
				</aside>
			</div>
		</div>
	</div>

</div>

<script>	
	$(function() {
		"use strict"
		$("#article_fix").attr('action','../server/welcome.php?port=fix&id=1&lang='+LANG);
		var url = '../server/welcome.php?port=getinfo&id=1&lang='+LANG;		
		$.getJSON(url,function(json){
			if(json.ret == 1) {
				$('input[name=name]').val(json.data.name);			
				$('input[name=logo]').val(json.data.logo);
				$('input[name=sign]').val(json.data.sign);				
				$('select[name=language]').val(json.data.language);
				$('textarea[name=content]').val(json.data.content);				
				if(json.data.logo)
				 $("#preview").css("background-color","#5E5955");
				$("#preview").attr("src",IMGURL + json.data.logo);
				if(json.data.sign)
				 $("#preview_sign").css("background-color","#5E5955");
				$("#preview_sign").attr("src",IMGURL + json.data.sign);
			}
		});
		
		KindEditor($("#uploadimage")[0]).click(function () {
            var dialog = KindEditor.dialog({
                width: 300,
                title: '上传图片',
                body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
                closeBtn: {
                    name: '关闭',
                    click: function (e) {
                        dialog.remove();
                    }
                },
                noBtn: {
                    name: '取消',
                    click: function (e) {
                        dialog.remove();
                    }
                }
            });
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#uploadButton')[0],
                fieldName: 'imgFile',
                url: '../server/upload.php',
                afterUpload: function (data) {
                    var data = arguments[0];  //获取json数据
                    if (data.error == 0) {
                       $("#preview").attr("src",IMGURL+data.url);
                       $("#preview").css("background-color","#5E5955");
                       $("input[name=logo]").val(data.url);
                    }
                    dialog.remove();
                }
            });
            uploadbutton.fileBox.change(function (e) {
                uploadbutton.submit();
            });
        });
        
        	KindEditor($("#uploadsign")[0]).click(function () {
            var dialog = KindEditor.dialog({
                width: 300,
                title: '上传图片',
                body: '<div style="margin:10px; text-align:center;"><input type="text" id="url" readonly="readonly" style="width:180px;margin-right:8px;" /><input type="button" id="uploadButton" value="选择图片" /></div>',
                closeBtn: {
                    name: '关闭',
                    click: function (e) {
                        dialog.remove();
                    }
                },
                noBtn: {
                    name: '取消',
                    click: function (e) {
                        dialog.remove();
                    }
                }
            });
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#uploadButton')[0],
                fieldName: 'imgFile',
                url: '../server/upload.php',
                afterUpload: function (data) {
                    var data = arguments[0];  //获取json数据
                    if (data.error == 0) {
                       $("#preview_sign").attr("src",IMGURL+data.url);
                       $("#preview_sign").css("background-color","#5E5955");
                       $("input[name=sign]").val(data.url);
                    }
                    dialog.remove();
                }
            });
            uploadbutton.fileBox.change(function (e) {
                uploadbutton.submit();
            });
        });
	});
	
	function validate2($from) {
		var name = $from.find('input[name="name"]');
		if($.trim(name.val()) == '') {
			return '称谓名称不能为空';
		}	
        if ( $('select[name=lang]').val() == 0) {
            return '请选择语言类型';
        }
		return true;
	}
</script>