ul.pagination {
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
ul.pagination:after {
  content: '';
  display: table;
  clear: both;
}
ul.pagination li {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  vertical-align: top;
  height: 34px;
  min-width: 34px;
  line-height: 34px;
  text-align: center;
  border: 1px solid #ddd;
}
ul.pagination li + li {
  border-left: none;
}
ul.pagination .page-change:hover,
ul.pagination .page-num:hover {
  background: #eee;
}
ul.pagination .page-change[index=page-first] {
  border-radius: 4px 0 0 4px;
}
ul.pagination .page-change[index=page-last] {
  border-radius: 0 4px 4px 0;
}
ul.pagination .page-search {
  margin-left: 10px;
  border: none;
  line-height: calc(32px);
}
ul.pagination .page-search button,
ul.pagination .page-search input {
  padding: 0;
}
ul.pagination .page-search input {
  width: 50px;
  height: 34px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 3px 0 0 3px;
}
ul.pagination .page-search button {
  width: 40px;
  height: calc(34px + 2px);
  background-color: #8fdaf7;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}
ul.pagination .page-search span {
  padding-left: 10px;
}
ul.pagination .page-selected {
  background-color: #b6c9d4 !important;
  cursor: default;
}
ul.pagination .page-disabled {
  background-color: #E9E9E9 !important;
  cursor: no-drop;
}
ul.pagination .err_tip {
  position: absolute;
  color: red;
}
